extends layout 

block content
	div(class='listview')
		each author in authors 
			p 
				a(href='/catalog/authors/'+author._id) <span style='font-weight:900;font-size:20px;'>#{author.name}</span> 
				|  </br> #{author.book_count} Books